# RabbitMQ
RABBITMQ_USER=moon
RABBITMQ_PASS=change_me
RABBITMQ_VHOST=moon

# MySQL
MYSQL_ROOT_PASSWORD=change_me

BEHAVIOR_DB_NAME=behavior_db
BEHAVIOR_DB_USER=behavior
BEHAVIOR_DB_PASSWORD=change_me

RECOMMENDATION_DB_NAME=recommendation_db
RECOMMENDATION_DB_USER=recommendation
RECOMMENDATION_DB_PASSWORD=change_me
