SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_STOREFRONT_API_VERSION=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
ENABLE_CUSTOMER_CART_SYNC=false


SHOPIFY_CUSTOMER_ACCOUNT_CALLBACK_URL=


BEHAVIOR_SERVICE_URL=http://localhost:8080

NEXT_PUBLIC_GTM_ID=GTM-XYZ